
div{
    text-align: center;
    color: black;
    font-family:ariel;
    font-size: 200%;
}


h1 {
    text-align: center;
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  
  p {
    text-align: center;
    color: black;
    font-family:ariel;
    font-size: 200%;
  }