body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  background-color: aquamarine;

}

div{
    text-align: center;
    color: black;
    font-family:ariel;
   
}

.konteynır{
  display: flex;
  min-height: 75vh;
  background-color: brown;
  align-items: center;
  justify-content: center;
}

.bacak{
  display: flex;
  min-width: 30vw;
  height: 30vw;
  background-color: yellowgreen;
  margin: 10px;
}

.sagbacak{
  display: flex;
  flex-direction: column;

}

.sagbacak div{
  background-color: orange;
  width: 40vh;
  height: 40vw;
  margin: 10px;
}